:80 {
    encode zstd gzip

    handle /api/* {
        reverse_proxy backend:80 {
            transport http {
                keepalive 2m
                keepalive_idle_conns 512
                keepalive_idle_conns_per_host 256
            }
        }
    }

    handle /health {
        reverse_proxy backend:80 {
            transport http {
                keepalive 2m
                keepalive_idle_conns 512
                keepalive_idle_conns_per_host 256
            }
        }
    }

    handle {
        reverse_proxy backend-redirect:80 {
            transport http {
                keepalive 2m
                keepalive_idle_conns 512
                keepalive_idle_conns_per_host 256
            }
        }
    }
}
