APP_ENV=development
APP_URL=http://localhost:8080
CORS_ALLOW_ORIGIN=http://localhost:5173
WORKER_MAX_REQUESTS=100000
REDIRECT_CACHE_MAX_ENTRIES=0

REDIS_CLUSTER_NODES=redis-1:6379,redis-2:6379,redis-3:6379,redis-4:6379,redis-5:6379,redis-6:6379,redis-7:6379,redis-8:6379,redis-9:6379,redis-10:6379,redis-11:6379,redis-12:6379
LOCAL_BLOOM_FILTER_BITS=10000000
LOCAL_BLOOM_FILTER_HASHES=7
