APP_ENV=development
APP_URL=http://localhost:8080
CORS_ALLOW_ORIGIN=http://localhost:5173

DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=alias_url
DB_USERNAME=user
DB_PASSWORD=
MYSQL_DATABASE=alias_url
MYSQL_USER=user
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=
